In [1]:
import numpy as np 
import pandas as pd

In [2]:
seattle_df = pd.read_csv("data/airbnb-listings.csv", error_bad_lines=False, sep = ";")

In [3]:
seattle_df.columns

Index(['ID', 'Listing Url', 'Scrape ID', 'Last Scraped', 'Name', 'Summary',
       'Space', 'Description', 'Experiences Offered', 'Neighborhood Overview',
       'Notes', 'Transit', 'Access', 'Interaction', 'House Rules',
       'Thumbnail Url', 'Medium Url', 'Picture Url', 'XL Picture Url',
       'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Location',
       'Host About', 'Host Response Time', 'Host Response Rate',
       'Host Acceptance Rate', 'Host Thumbnail Url', 'Host Picture Url',
       'Host Neighbourhood', 'Host Listings Count',
       'Host Total Listings Count', 'Host Verifications', 'Street',
       'Neighbourhood', 'Neighbourhood Cleansed',
       'Neighbourhood Group Cleansed', 'City', 'State', 'Zipcode', 'Market',
       'Smart Location', 'Country Code', 'Country', 'Latitude', 'Longitude',
       'Property Type', 'Room Type', 'Accommodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Bed Type', 'Amenities', 'Square Feet', 'Price', 'Weekly Price',
       'Monthly Price', 'Security Deposit', 'Cleaning Fee', 'Guests Included',
       'Extra People', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated',
       'Has Availability', 'Availability 30', 'Availability 60',
       'Availability 90', 'Availability 365', 'Calendar last Scraped',
       'Number of Reviews', 'First Review', 'Last Review',
       'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value', 'License', 'Jurisdiction Names',
       'Cancellation Policy', 'Calculated host listings count',
       'Reviews per Month', 'Geolocation', 'Features'],
      dtype='object')

In [32]:
seattle_df_drop = seattle_df.drop(columns = ['ID', 'Scrape ID', 'Access', 'Interaction', 'House Rules',
       'Picture Url', 
       'Host ID', 'Host Response Rate',
       'Security Deposit', 'Cleaning Fee',
       'Extra People', 'License', 'Geolocation', 'Features','Square Feet', 'Price', 'Weekly Price',
       'Monthly Price','Host Acceptance Rate', 'Longitude', 'Latitude', 'Notes', 'Neighborhood Overview', 'Transit'])

In [33]:
seattle_df_drop.head()

,Listing Url,Last Scraped,Name,Summary,Space,Description,Experiences Offered,Thumbnail Url,Medium Url,XL Picture Url,...,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Jurisdiction Names,Cancellation Policy,Calculated host listings count,Reviews per Month
0,https://www.airbnb.com/rooms/2508568,2016-07-07,HUGE 2 BR/2 BA Mission Beach Condo,This huge 2 bedroom condo has over 2000 square...,NaN,This huge 2 bedroom condo has over 2000 square...,none,https://a2.muscache.com/im/pictures/33167697/b...,https://a2.muscache.com/im/pictures/33167697/b...,https://a2.muscache.com/im/pictures/33167697/b...,...,9.0,9.0,10.0,10.0,10.0,9.0,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",strict,1,2.49
1,https://www.airbnb.com/rooms/13728582,2016-07-07,Groovy beach pad,"Resort-like amenities, close proximity to beac...",This location is perfect for access to all of ...,"Resort-like amenities, close proximity to beac...",none,https://a2.muscache.com/im/pictures/2c60de45-7...,https://a2.muscache.com/im/pictures/2c60de45-7...,https://a2.muscache.com/im/pictures/2c60de45-7...,...,NaN,NaN,NaN,NaN,NaN,NaN,"SAN DIEGO, SAN DIEGO TOURISM MARKETING DISTRIC...",moderate,1,NaN
2,https://www.airbnb.com/rooms/1909058,2016-01-04,Queen Anne Private Bed and Bath,Enjoy a quiet stay in our comfortable 1915 Cra...,Enjoy a quiet stay in our comfortable 1915 Cra...,Enjoy a quiet stay in our comfortable 1915 Cra...,none,https://a2.muscache.com/ac/pictures/26505642/2...,https://a2.muscache.com/im/pictures/26505642/2...,https://a2.muscache.com/ac/pictures/26505642/2...,...,10.0,10.0,10.0,10.0,10.0,10.0,WASHINGTON,moderate,1,2.46
3,https://www.airbnb.com/rooms/9550869,2016-01-04,Queen Anne Craftsman,Beautiful craftsman in the center of Queen Ann...,This historic Queen Anne home was redone with ...,Beautiful craftsman in the center of Queen Ann...,none,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,WASHINGTON,strict,1,NaN
4,https://www.airbnb.com/rooms/10234558,2016-01-04,Cozy BR in heart of lively Ballard,Quite and comfy room for two with private bath...,This is a condo building with secure access an...,Quite and comfy room for two with private bath...,none,https://a2.muscache.com/ac/pictures/915edf6e-6...,https://a2.muscache.com/im/pictures/915edf6e-6...,https://a2.muscache.com/ac/pictures/915edf6e-6...,...,NaN,NaN,NaN,NaN,NaN,NaN,WASHINGTON,flexible,1,NaN

In [34]:
seattle_df_drop.shape

(4685, 65)

In [40]:
seattle_df_drop.isnull().sum()

Listing Url                         0
Last Scraped                        0
Name                                0
Summary                           194
Space                             683
Description                         0
Experiences Offered                 0
Thumbnail Url                     561
Medium Url                        561
XL Picture Url                    561
Host URL                            0
Host Name                           2
Host Since                          2
Host Location                       8
Host About                        900
Host Response Time                675
Host Thumbnail Url                  2
Host Picture Url                    2
Host Neighbourhood                396
Host Listings Count                 2
Host Total Listings Count           2
Host Verifications                  1
Street                              0
Neighbourhood                     573
Neighbourhood Cleansed              0
Neighbourhood Group Cleansed      738
City                                1
State                              10
Zipcode                            22
Market                              3
                                 ...
Accommodates                        0
Bathrooms                          16
Bedrooms                            6
Beds                                1
Bed Type                            0
Amenities                           1
Guests Included                     0
Minimum Nights                      0
Maximum Nights                      0
Calendar Updated                    0
Has Availability                  866
Availability 30                     0
Availability 60                     0
Availability 90                     0
Availability 365                    0
Calendar last Scraped               0
Number of Reviews                   0
First Review                      791
Last Review                       791
Review Scores Rating              817
Review Scores Accuracy            828
Review Scores Cleanliness         823
Review Scores Checkin             830
Review Scores Communication       822
Review Scores Location            827
Review Scores Value               828
Jurisdiction Names                450
Cancellation Policy                 0
Calculated host listings count      0
Reviews per Month                 791
Length: 65, dtype: int64

In [21]:
sum(pd.isnull(seattle_df_drop['State']))

10

In [22]:
sum(pd.isnull(seattle_df_drop['Zipcode']))

22

In [37]:
print ('market:', sum(pd.isnull(seattle_df_drop['Market'])))
print ('Smart Location:', sum(pd.isnull(seattle_df_drop['Smart Location'])))
print ('Country Code:', sum(pd.isnull(seattle_df_drop['Country Code'])))
print ('Country:', sum(pd.isnull(seattle_df_drop['Country'])))

market: 3
Smart Location: 0
Country Code: 0
Country: 0

In [43]:
seattle_df_drop.columns

Index(['Listing Url', 'Last Scraped', 'Name', 'Summary', 'Space',
       'Description', 'Experiences Offered', 'Thumbnail Url', 'Medium Url',
       'XL Picture Url', 'Host URL', 'Host Name', 'Host Since',
       'Host Location', 'Host About', 'Host Response Time',
       'Host Thumbnail Url', 'Host Picture Url', 'Host Neighbourhood',
       'Host Listings Count', 'Host Total Listings Count',
       'Host Verifications', 'Street', 'Neighbourhood',
       'Neighbourhood Cleansed', 'Neighbourhood Group Cleansed', 'City',
       'State', 'Zipcode', 'Market', 'Smart Location', 'Country Code',
       'Country', 'Property Type', 'Room Type', 'Accommodates', 'Bathrooms',
       'Bedrooms', 'Beds', 'Bed Type', 'Amenities', 'Guests Included',
       'Minimum Nights', 'Maximum Nights', 'Calendar Updated',
       'Has Availability', 'Availability 30', 'Availability 60',
       'Availability 90', 'Availability 365', 'Calendar last Scraped',
       'Number of Reviews', 'First Review', 'Last Review',
       'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value', 'Jurisdiction Names', 'Cancellation Policy',
       'Calculated host listings count', 'Reviews per Month'],
      dtype='object')

In [108]:
sea_df_host = seattle_df_drop[['Host Name', 'Host Since', 'Host Location', 'Host Response Time',
       'Host Neighbourhood', 'Host Listings Count',
       'Host Total Listings Count', 'Host Verifications','Calculated host listings count']]

In [109]:
sea_df_reviews = seattle_df_drop[['Host Name','Number of Reviews', 'First Review', 'Last Review',
       'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value','Reviews per Month']]

In [110]:
sea_df_location = seattle_df_drop[['Host Name','Street', 'Neighbourhood',
       'Neighbourhood Cleansed', 'Neighbourhood Group Cleansed', 'City',
       'State', 'Zipcode', 'Market', 'Smart Location', 'Country Code',
       'Country',]]

In [111]:
sea_df_property = seattle_df_drop[['Host Name','Property Type', 'Room Type', 'Accommodates', 'Bathrooms',
       'Bedrooms', 'Beds', 'Bed Type', 'Amenities', 'Guests Included', 'Last Scraped', 'Name', 'Experiences Offered', ]]

In [112]:
sea_df_availability = seattle_df_drop[['Host Name', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated',
       'Has Availability', 'Availability 30', 'Availability 60',
       'Availability 90', 'Availability 365', 'Calendar last Scraped']]

In [113]:
sea_df_property.head()

,Host Name,Property Type,Room Type,Accommodates,Bathrooms,Bedrooms,Beds,Bed Type,Amenities,Guests Included,Last Scraped,Name,Experiences Offered
0,Dj,Apartment,Entire home/apt,7,2.0,2.0,4.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",6,2016-07-07,HUGE 2 BR/2 BA Mission Beach Condo,none
1,Kelsey,Condominium,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",2,2016-07-07,Groovy beach pad,none
2,Gary And Beth,House,Private room,2,1.0,1.0,1.0,Real Bed,"{""Wireless Internet"",""Free Parking on Premises...",1,2016-01-04,Queen Anne Private Bed and Bath,none
3,Maureen,Bungalow,Entire home/apt,10,3.0,4.0,4.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Free Pa...",1,2016-01-04,Queen Anne Craftsman,none
4,Sophia,Condominium,Private room,2,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",0,2016-01-04,Cozy BR in heart of lively Ballard,none

In [114]:
sea_df_host.head()

,Host Name,Host Since,Host Location,Host Response Time,Host Neighbourhood,Host Listings Count,Host Total Listings Count,Host Verifications,Calculated host listings count
0,Dj,2013-09-17,"San Diego, California, United States",within an hour,Mission Beach,1.0,1.0,"['email', 'phone', 'reviews', 'jumio']",1
1,Kelsey,2016-03-07,"San Diego, California, United States",within an hour,Linda Vista,1.0,1.0,"['email', 'phone', 'jumio']",1
2,Gary And Beth,2012-05-30,"Seattle, Washington, United States",within an hour,Queen Anne,1.0,1.0,"['email', 'phone', 'reviews', 'kba']",1
3,Maureen,2014-03-06,"Seattle, Washington, United States",within a day,Queen Anne,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",1
4,Sophia,2015-04-25,"Seattle, Washington, United States",within an hour,NaN,1.0,1.0,"['email', 'phone', 'facebook', 'reviews']",1

In [97]:
sea_df_reviews.head()

,Host Name,Number of Reviews,First Review,Last Review,Review Scores Rating,Review Scores Accuracy,Review Scores Cleanliness,Review Scores Checkin,Review Scores Communication,Review Scores Location,Review Scores Value,Reviews per Month
0,Dj,68,2014-04-11,2016-06-20,92.0,9.0,9.0,10.0,10.0,10.0,9.0,2.49
1,Kelsey,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Gary And Beth,58,2014-01-27,2015-12-07,99.0,10.0,10.0,10.0,10.0,10.0,10.0,2.46
3,Maureen,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Sophia,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
sea_df_availability.head()

,Host Name,Minimum Nights,Maximum Nights,Calendar Updated,Has Availability,Availability 30,Availability 60,Availability 90,Availability 365,Calendar last Scraped
0,Dj,3,365,a week ago,NaN,0,12,33,308,2016-07-06
1,Kelsey,2,12,yesterday,NaN,3,13,17,17,2016-07-06
2,Gary And Beth,3,14,5 weeks ago,t,20,49,71,346,2016-01-04
3,Maureen,1,1125,3 days ago,t,30,60,90,354,2016-01-04
4,Sophia,1,1125,yesterday,t,20,50,80,355,2016-01-04

In [99]:
sea_df_location.head()

,Host Name,Street,Neighbourhood,Neighbourhood Cleansed,Neighbourhood Group Cleansed,City,State,Zipcode,Market,Smart Location,Country Code,Country
0,Dj,"Mission Boulevard, San Diego, CA 92109, United...",Mission Beach,Mission Bay,NaN,San Diego,CA,92109,San Diego,"San Diego, CA",US,United States
1,Kelsey,"Friars Road, San Diego, CA 92108, United States",Linda Vista,Moreno Mission,NaN,San Diego,CA,92108,San Diego,"San Diego, CA",US,United States
2,Gary And Beth,"10th Avenue West, Seattle, WA 98119, United St...",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States
3,Maureen,"10th Avenue West, Seattle, WA 98119, United St...",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States
4,Sophia,"NW 57th St, Seattle, WA 98107, United States",NaN,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States

In [122]:

sea_df_location.loc[sea_df_location['Zipcode'] == '98107']

,Host Name,Street,Neighbourhood,Neighbourhood Cleansed,Neighbourhood Group Cleansed,City,State,Zipcode,Market,Smart Location,Country Code,Country
4,Sophia,"NW 57th St, Seattle, WA 98107, United States",NaN,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
5,Pallavi,"Northwest 62nd Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
6,Karen,"Northwest 57th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
7,Chris,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
8,Javier & Yeon,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
9,Steven,"Northwest 51st Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
61,Jacqueline,"2nd Avenue Northwest, Seattle, WA 98107, Unite...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
102,Lauren,"Northwest Market Street, Seattle, WA 98107, Un...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
103,Debra,"Northwest 59th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
104,Paula,"24th Avenue Northwest, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
105,Sea To Sky Rentals,"20th Ave NW and NW 59th St, Seattle, WA 98107,...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
107,Errin,"Northwest 64th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
214,Fleur,"26th Avenue Northwest, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
215,Kelly,"20th Avenue Northwest, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
216,Maya And Yoav,"Northwest 57th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
381,Alan,"Northwest Market Street, Seattle, WA 98107, Un...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
415,Brian,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
416,Alex,"Northwest 56th Street, Seattle, WA 98107, Unit...",Phinney Ridge,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
417,Jennifer,"Northwest 53rd Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
418,Eric,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
565,Andrea,"Northwest 61st Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
566,Varun,"14th Avenue Northwest, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
567,Varun,"14th Avenue Northwest, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
568,Bryan & Mark,"Northwest 51st Street, Seattle, WA 98107, Unit...",NaN,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
569,Ian,"NW 50th St, Seattle, WA 98107, United States",Fremont,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
641,Alexis,"Northwest 61st Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
642,Bob,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
643,Alianna,"Ballard Avenue Northwest, Seattle, WA 98107, U...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
644,Katelynn,"NW 56th St, Seattle, WA 98107, United States",NaN,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
645,Amelia & Foxy,"Northwest 59th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
...,...,...,...,...,...,...,...,...,...,...,...,...
3938,Daniel,"Northwest 58th Street, Seattle, WA 98107, Unit...",NaN,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3939,Mario,"Northwest 64th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3940,Anna,"Northwest 56th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3941,Mary,"3rd Avenue Northwest, Seattle, WA 98107, Unite...",Phinney Ridge,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3942,Cindy,"Northwest 56th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3943,Emiliya,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
3944,Sarah,"5th Avenue Northwest, Seattle, WA 98107, Unite...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4033,Michelle & Mark,"Northwest Market Street, Seattle, WA 98107, Un...",Ballard,Sunset Hill,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4048,Judy,"Northwest 41st Street, Seattle, WA 98107, Unit...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4106,Chris,"Northwest 50th Street, Seattle, WA 98107, Unit...",Phinney Ridge,Phinney Ridge,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4154,David,"3rd Avenue Northwest, Seattle, WA 98107, Unite...",Ballard,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4157,Tim And Amanda,"Northwest Bowdoin Place, Seattle, WA 98107, Un...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4160,Chris,"Northwest 60th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4161,Alex,"Northwest 57th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4162,Emily,"Northwest 64th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4237,James,"Northwest Market Street, Seattle, WA 98107, Un...",Ballard,Sunset Hill,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4242,Jim,"Northwest 55th Street, Seattle, WA 98107, Unit...",Phinney Ridge,Phinney Ridge,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4243,Celia,"1st Avenue Northwest, Seattle, WA 98107, Unite...",Phinney Ridge,Phinney Ridge,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4298,Sriharsha,"Northwest 45th Street, Seattle, WA 98107, Unit...",Ballard,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4307,Mercy,"Northwest 61st Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4308,Brian,", Seattle, WA 98107, United States",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4401,Jacqueline,"Northwest 39th Street, Seattle, WA 98107, Unit...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4402,Bo,"Northwest 48th Street, Seattle, WA 98107, Unit...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4429,James,"Northwest Market Street, Seattle, WA 98107, Un...",Ballard,Sunset Hill,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4446,Mandy & Andy,"Northwest 44th Street, Seattle, WA 98107, Unit...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4448,Susan,"NW 50th St, Seattle, WA 98107, United States",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4461,Elin,"Northwest 56th Street, Seattle, WA 98107, Unit...",Ballard,Adams,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4462,Sara,"Northwest 57th Street, Seattle, WA 98107, Unit...",Ballard,West Woodland,Ballard,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4521,Felicity,"NW 39th Street, Seattle, WA 98107, United States",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States
4524,Manuela,"Northwest Bowdoin Place, Seattle, WA 98107, Un...",Fremont,Fremont,Other neighborhoods,Seattle,WA,98107,Seattle,"Seattle, WA",US,United States

In [130]:
sea_df_property.loc[sea_df_property['Accommodates'] == 0]

Empty DataFrame
Columns: [Host Name, Property Type, Room Type, Accommodates, Bathrooms, Bedrooms, Beds, Bed Type, Amenities, Guests Included, Last Scraped, Name, Experiences Offered]
Index: []

In [133]:
seattle_df['Price'].isnull().sum()

4040